@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-sudata-navy text-sudata-grey font-mono;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply text-white;
  }
}

